[package]
name = "tlsn-hmac-sha256"
authors = ["TLSNotary Team"]
description = "A 2PC implementation of TLS HMAC-SHA256 PRF"
keywords = ["tls", "mpc", "2pc", "hmac", "sha256"]
categories = ["cryptography"]
license = "MIT OR Apache-2.0"
version = "0.1.0-alpha.10"
edition = "2021"

[lints]
workspace = true

[lib]
name = "hmac_sha256"

[features]
default = ["mock"]
rayon = ["mpz-common/rayon"]
mock = []

[dependencies]
tlsn-hmac-sha256-circuits = { workspace = true }

mpz-vm-core = { workspace = true }
mpz-circuits = { workspace = true }
mpz-common = { workspace = true, features = ["cpu"] }

derive_builder = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
futures = { workspace = true }

[dev-dependencies]
mpz-ot = { workspace = true, features = ["ideal"] }
mpz-garble = { workspace = true }
mpz-common = { workspace = true, features = ["test-utils"] }

criterion = { workspace = true, features = ["async_tokio"] }
tokio = { workspace = true, features = ["macros", "rt", "rt-multi-thread"] }
rand = { workspace = true }
rand06-compat = { workspace = true }

[[bench]]
name = "prf"
harness = false
