[workspace]
members = [
    "tls-core",
    "mpc-core",
    "mpc-aio",
    "mpc-circuits",
    "tls-2pc-core",
    "tls-2pc-aio",
    "utils-aio",
    "requester",
    "notary",
    "core",
    "clmul",
    "matrix-transpose"
]
