[workspace]
members = [
    "tls-core",
    "mpc-core",
    "mpc-aio",
    "mpc-circuits",
    "tls-circuits",
    "tls-2pc-core",
    "tls-2pc-aio",
    "utils-aio",
    "clmul",
    "matrix-transpose",
    "mul-2pc"
]
exclude = ["tls-client"]

[workspace.dependencies]
cfg-if = "1"
rand_chacha = "0.3"
rand = "0.8"
rand_core = "0.6"
criterion = "0.3"
cpufeatures = "0.2"
thiserror = "1"
async-trait = "0.1"
prost = "0.9"
futures = "0.3"
futures-util = "0.3"
cipher = "0.3"
p256 = "0.10"
tracing = "0.1"
tokio-util = "0.7"
tokio = "1"
mockall = "0.11"
async-stream = "0.3"
getrandom = "0.2"
wasm-bindgen = "0.2"
async-tungstenite = "0.16"
ws_stream_tungstenite = "0.7"
yamux = "0.10"
tracing-subscriber = "0.3"
clap = "3"
tokio-stream = "0.1"
regex = "1"
rayon = "1"
sha2 = "0.10"
hex = "0.4"
serde = "1.0"
serde_yaml = "0.9"
lazy_static = "1"
aes = "0.7"
digest = "0.10"
prost-build = "0.9"
curve25519-dalek = "4.0.0-pre.2"
anyhow = "1"
elliptic-curve = "0.11"
derive_builder = "0.11"
merlin = "3"
rstest = "0.12"
pretty_assertions = "1"
hmac = "0.12"
once_cell = "1"
ghash_rc = { package = "ghash", version = "0.4" }
curv = { package = "curv-kzen", version = "0.9" }
num = "0.4"
generic-array = "0.14"
num-bigint = "0.4"
num-traits = "0.2"
rustversion = "1"
sct = "0.7"
webpki = "0.22"
ring = "0.16"
bytes = "1"
async-std = "1"
