[target.wasm32-unknown-unknown]
rustflags = [
    "-C",
    "target-feature=+atomics,+bulk-memory,+mutable-globals",
    "-C",
    # 4GB
    "link-arg=--max-memory=4294967296",
    "--cfg",
    'getrandom_backend="wasm_js"',
]
