[package]
name = "tlsn-tls-core"
authors = ["TLSNotary Team"]
description = "Cryptographic operations for the TLSNotary TLS client"
keywords = ["tls", "mpc", "2pc"]
categories = ["cryptography"]
license = "MIT OR Apache-2.0"
version = "0.1.0-alpha.2"
edition = "2021"

[lib]
name = "tls_core"

[features]
default = ["logging", "tls12"]
serde = ["dep:serde"]
tls12 = []
handshake = []
ghash = []
logging = ["tracing"]

[dependencies]
rand.workspace = true
sct.workspace = true
webpki = { workspace = true, features = ["alloc", "std"] }
tracing = { workspace = true, optional = true }
ring.workspace = true
futures.workspace = true
serde = { workspace = true, optional = true, features = ["derive"] }
rustls-pemfile.workspace = true
thiserror.workspace = true
web-time.workspace = true
