[package]
name = "tlsn-tls-circuits"
version = "0.1.0"
edition = "2021"

[lib]
name = "tls_circuits"

[features]
default = ["compile"]
compile = ["dep:rayon", "dep:prost"]

[dependencies]
tlsn-mpc-circuits.workspace = true
rayon = { workspace = true, optional = true }
prost = { workspace = true, optional = true }

[dev-dependencies]
generic-array.workspace = true
num-bigint = { workspace = true, features = ["rand"] }
num-traits.workspace = true
rand.workspace = true
sha2 = { workspace = true, features = ["compress"] }
aes.workspace = true
