[package]
edition = "2021"
name = "tlsn-benches"
publish = false
version = "0.0.0"

[lints]
workspace = true

[features]
default = []
# Enables benchmarks in the browser.
browser-bench = ["tlsn-benches-browser-native"]

[dependencies]
mpz-common = { workspace = true }
mpz-core = { workspace = true }
mpz-garble = { workspace = true }
mpz-ot = { workspace = true, features = ["ideal"] }
tlsn-benches-library = { workspace = true }
tlsn-benches-browser-native = { workspace = true, optional = true}
tlsn-common = { workspace = true }
tlsn-core = { workspace = true }
tlsn-hmac-sha256 = { workspace = true }
tlsn-prover = { workspace = true }
tlsn-server-fixture = { workspace = true }
tlsn-server-fixture-certs = { workspace = true }
tlsn-tls-core = { workspace = true }
tlsn-verifier = { workspace = true }

anyhow = { workspace = true }
async-trait = { workspace = true }
charming = {version = "0.3.1", features = ["ssr"]}
csv = "1.3.0"
dhat = { version = "0.3.3" }
env_logger = { version = "0.6.0", default-features = false }
futures = { workspace = true }
serde = { workspace = true }
tokio = { workspace = true, features = [
  "rt",
  "rt-multi-thread",
  "macros",
  "net",
  "io-std",
  "fs",
] }
tokio-util = { workspace = true }
toml = "0.8.11"
tracing-subscriber = {workspace = true, features = ["env-filter"]}

[[bin]]
name = "bench"
path = "bin/bench.rs"

[[bin]]
name = "prover"
path = "bin/prover.rs"

[[bin]]
name = "prover-memory"
path = "bin/prover_memory.rs"

[[bin]]
name = "verifier"
path = "bin/verifier.rs"

[[bin]]
name = "verifier-memory"
path = "bin/verifier_memory.rs"

[[bin]]
name = "plot"
path = "bin/plot.rs"
