[package]
edition = "2021"
name = "tlsn-benches"
publish = false
version = "0.1.0"

[features]
default = []
browser-bench = ["tlsn-benches-browser-native"]

[dependencies]
tlsn-benches-library = { workspace = true }
tlsn-benches-browser-native = { workspace = true, optional = true}
tlsn-common = { workspace = true }
tlsn-core = { workspace = true }
tlsn-prover = { workspace = true }
tlsn-server-fixture = { workspace = true }
tlsn-server-fixture-certs = { workspace = true }
tlsn-tls-core = { workspace = true }
tlsn-verifier = { workspace = true }

anyhow = { workspace = true }
async-trait = { workspace = true }
charming = {version = "0.3.1", features = ["ssr"]}
csv = "1.3.0"
env_logger = { version = "0.6.0", default-features = false }
serde = { workspace = true }
tokio = { workspace = true, features = ["rt", "rt-multi-thread", "macros", "net", "io-std"]}
tokio-util = { workspace = true }
toml = "0.8.11"
tracing-subscriber = {workspace = true, features = ["env-filter"]}

[[bin]]
name = "bench"
path = "bin/bench.rs"

[[bin]]
name = "prover"
path = "bin/prover.rs"

[[bin]]
name = "verifier"
path = "bin/verifier.rs"

[[bin]]
name = "plot"
path = "bin/plot.rs"