[package]
name = "tlsn-harness-runner"
version = "0.1.0"
edition = "2024"
publish = false

[lib]
name = "harness_runner"

[features]
# Used to debug the runner itself.
debug = []

[dependencies]
tlsn-harness-core = { workspace = true }
tlsn-server-fixture = { workspace = true }

anyhow = { workspace = true }
axum = { workspace = true }
chromiumoxide = { workspace = true }
clap = { workspace = true, features = ["derive", "env"] }
csv = { version = "1.3" }
duct = { version = "1" }
futures = { workspace = true }
indicatif = { version = "0.17" }
ipnet = { workspace = true }
serio = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true, features = ["full"] }
tokio-util = { workspace = true, features = ["compat", "codec"] }
toml = { workspace = true }
tower = { workspace = true }
tower-http = { workspace = true, features = ["set-header", "fs"] }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }
websocket-relay = { workspace = true }

[[bin]]
name = "tlsn-harness-runner"
path = "src/bin/runner.rs"

[[bin]]
name = "tlsn-harness-wasm-server"
path = "src/bin/wasm.rs"

[[bin]]
name = "ws-proxy"
path = "src/bin/ws_proxy.rs"
